h1 {
    background-color: rgb(122, 122, 221);
    text-align: center;
    color:rgb(238, 111, 111);
    font-family: serif, "Helvetica", sans-serif;
    font-weight: 300;
}

li {
    text-align: center;
    font-weight: bold;
    font-family: serif, "Times New Roman", sans-serif;
    font-size: 24px;
    margin:20px;
    list-style-type: none;
}

a {
    background-color: rgb(163, 191, 216);
    padding: 0 10px;
}