* {
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
    text-align: center;
    color:black;
    background-color: rgb(156, 156, 250);
    border: 20px;
}

.ramen {
    height:auto;
    width:150px;
}

p,
ul,
ol {
    background-color: palegoldenrod;
    text-align: center;
    padding: 12px;
    margin: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px;
    padding: 2px;
}